*{margin:0;padding:0;}
#markdown-container{
	display: inline;
	float: left;
	width: 65%;
	margin: 10px 50px;
	padding:2em;
	line-height:1.4em;
    font:13.34px helvetica,arial,freesans,clean,sans-serif;

	color:black;
}
p {
    margin:1em 0;
    line-height:1.5em;
}
table {
    font-size:inherit;
    font:100%;
    margin:1em;
}
table th{border-bottom:1px solid #bbb;padding:.2em 1em;}
table td{border-bottom:1px solid #ddd;padding:.2em 1em;}
input[type=text],input[type=password],input[type=image],textarea{font:99% helvetica,arial,freesans,sans-serif;}
select,option{padding:0 .25em;}
optgroup{margin-top:.5em;}

img{border:0;max-width:100%;}
abbr{border-bottom:none;}
a{color:#4183c4;text-decoration:none;}
a:hover{text-decoration:underline;}
a code,a:link code,a:visited code{color:#4183c4;}
h2,h3{margin:1em 0;}
h1,h2,h3,h4,h5,h6{border:0;}
h1{font-size:170%;border-bottom:4px solid #aaa;padding-bottom:.5em;margin-top:1.5em;}
h1:first-child{margin-top:0;padding-top:.25em;border-top:none;}
h2{font-size:150%;margin-top:1.5em;border-bottom:4px solid #e0e0e0;padding-bottom:.5em;}
h3{margin-top:1em;}
hr{border:1px solid #ddd;}
ul{margin:1em 0 1em 2em;}
ol{margin:1em 0 1em 2em;}
ul li,ol li{margin-top:.5em;margin-bottom:.5em;}
ul ul,ul ol,ol ol,ol ul{margin-top:0;margin-bottom:0;}
blockquote{margin:1em 0;border-left:5px solid #ddd;padding-left:.6em;color:#555;}
dt{font-weight:bold;margin-left:1em;}
dd{margin-left:2em;margin-bottom:1em;}

#markdown-outline{
	float: left;
	display: inline;
	position:fixed;
	width: 35%;
	min-height: 100%;
	padding: 25px 30px;
	background-color: rgb(248, 248, 248);
	border-left: 1px solid rgb(236, 236, 236);
}
#markdown-outline ul{
	margin:5px 0 5px 0;
	padding-left:30px;
	font-size:12px;
	border-left:1px dotted #ccc;
}
#markdown-outline ul:first-child{
	border:none;
}
#markdown-outline li{
	list-style-type:decimal;
	margin:3px 0;
}

#markdown-backTop{
	padding: 15px 5px 5px 5px;
	width:20px;
	height:20px;
	background: url(images/top-icon.png) no-repeat 5px 15px;
	cursor:pointer;
}
#markdown-backTop:hover {
    background: #fff url(images/top-icon.png) no-repeat 5px 15px;
}

#markdown-raw{
	padding:5px;
	width:20px;
	height:20px;
	background:url(images/source-s-icon.png) no-repeat 5px 5px;
	cursor:pointer;
}
#markdown-raw:hover {
    background: #fff url(images/source-s-icon.png) no-repeat 5px 5px;
}

#markdown-bottom{
	padding: 5px 5px 12px 5px;
	width:20px;
	height:20px;
	background:url(images/bottom-icon.png) no-repeat 5px 5px;
	cursor:pointer;
}
#markdown-bottom:hover {
    background: #fff url(images/bottom-icon.png) no-repeat 5px 5px;
}


#markdown-buttons-container {
    position : fixed;
    top: 40%;
    border: 1px solid rgb(236, 236, 236);
    background: rgb(248, 248, 248);
}

@media print{
	#markdown-container{
		border-width:0;
	}
}

@media (max-width: 979px) {
    #markdown-outline{
        visibility: hidden;
    }

    #markdown-container{
        width: auto;
    }
}